 <div class = "avatar">
 <%=  image_tag current_user.picture.url if current_user.picture?  %> 
 </div>
<h1>  <%= current_user.name %> </h1>


<span> <%= pluralize(current_user.microposts.count, "microposts") %> </span>

