@import 'bootstrap-sprockets';
@import 'bootstrap';

//$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
 height: 100%;
 width: 100%;
}

body {
  padding-top: 60px;
  width: 100%;
  margin-bottom: 0;
  position: relative;
  min-height: 100%;
  //dispaly: inline;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  
  
}

h2 {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #black;
}

 h1, h3{
  margin-top: 90px;
  font-family: allegro ;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header img {
  float: left;
}

 .navbar-inverse  {
   background-color: darkred;
   height: 150px;
   display: inline block;
   font-size: 30px;
   width: 100%;
   
 }

a {
  margin-right: 0px;
  
}

.container {
   // display: inline; 
  //padding-top: 20px;
  //font: Arial;
  //margin: auto ;
//  padding-bottom: 20px;



}

.container img {
  margin: 10px;
  
}

.container .jumbotron
{
  margin:auto 0;
  width: 100%;
  margin-bottom: 0;
  
}
.title {
  margin: auto 0;
}

.title img  {
width: 250px;
margin-left: 250px; 
  
}
/* footer */

footer {
  background: black;
  width: 100%;
margin-top: 25px;
clear: both;
  }
  
.footer {
  bottom: 0;
  position: absolute;
  background: darkred;
  padding: 0;
  border-top: 1px solid #eaeaea;;
  color: white;
  width: 100%;
  a {
    color: white;
    &:hover { 
      color: darkgray;
    text-decoration: none;
    }
  }  
  p { 
    float: left;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    
  }
  ul {
    float: right;
    list-style: none;
    margin-bottom: 0;
    padding-bottom: 10px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  padding-top: 20px;
  margin-left: 0px;
  width: 250px;
  
  section {
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 3em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

 aside.col-md-4 {
   width: 400px;
 }

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/*.field_with_errors {
  @extend .control-group;
  @extend .error;
}
*/
/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:last-child {
      border-bottom: 1px solid lightgray;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  float: right;
  margin-right: 500px;

  li {
    
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    
    
  }
  
  
}
.content {
  display: block;
  margin-left: 60px;
  img{
    display: block;
    padding: 5px 0;
  }
}
.timestamp {
  color: lightgray;
  display: block;
  margin-left: 60px;
}
.gravatar {
  
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
aside {
  textarea {
    height: 100px;
    width: 200px;
    margin-bottom: 5px;
    margin-left: 0;
  }
}

aside {
  width: 200px;
}

span.picture {
  margin-top: 10px;
  input {
  border: 0;
    
  }
  }




img {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jumbotron {

  
    font-size: 3em;
  
height: 95%;
}

#logo {
  float:left;
  margin-left: 5px;
}

.user_info {
 
  padding-right: 20px;  
}

.micropost_form{
  
  
  
}

.btn {
  
  width: auto;
  margin: auto;
}

section {
  
}

.user_info {
 
}
aside {
  margin-left: 0px;
  width: 50px;
  section {
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
.col-md-4 {
  height:100%;
  
}

.navbar-nav > li > a {
  padding-top: 50px;
  
  font-size: 30px;
}

.pagination {
  
  margin: 8px;
}

.info {
  width: 40%;
  margin: auto;
  font-size: 25px;
  clear: both;
  overflow:hidden;
  padding: 10px;
}

.info btn {
  height: 25px;
  
}

.info h1 {
  margin-top: 50px;
}

.info input{
  display: inline;
}
 .actions {
  height: 50px;
}

input { 
  margin: 3px;
  padding: 10px 5px;
  width: 75%;
  display: inline;
  
}
  .btn input {
    padding: 25px;
  }
  
.even {
    background: #b8d1f3;
}

.odd {
    background: #dae5f4;
}

th {
  padding-right: 25px;
  font-size: 20px;
}
td {

text-align:left;
padding: 25px;

}

td a {
    margin-left: 25px;
    
}

table {
  margin: auto;
}

label {
  padding-top: 10px;
}

.form {
  margin: auto ;
  margin-bottom: 50px;
}

form.form-inline div.control-group { 
  display: inline-block;
  margin-top: 10px;
  margin-left: 200px;
  }
  
  form.form.control input {
  margin-left: 200px;  
  }
  
  .signup {
    margin-left: 100px;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
form.form-inline div.control-group div.controls {
  display: inline-block;
  margin: auto;
  margin-left: 200px;
  
}

.long_form {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.short_form {
  width: 50px;
  margin-bottom: 50px;
}

.short_form2 {
  width: 90px;
  margin-bottom: 50px;
  }
  
  input, label {
   
    font-size: 20px;
    margin-left: 25px; 
    
  }
 
  
  label {
    margin-bottom: 5px;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  .center_div {
    margin-top: 150px;
    border-top: none;
    padding: 0;
    border-style: solid;
    border-width: 5px;
    background: lightblue;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 100px;
    padding-left: 0px;
    padding-bottom: 0;
  
  }
  
  .form {
    margin-left: 25px;
  }
  
  input[type="checkbox"] {
    height: 50px;
    margin-bottom: 50px;
  }
  
  textarea{
    height: 150px;
    width:  100%;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .sign_up_title {
    border-bottom: solid;
    border-width: 1px;
    background: darkred;
    color: white;
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0;
  }
  
    .sign_up_title h1 {
      margin: 0;
      padding-top: 25px;
             }
             
    .sign_up_body {
      padding-top: 25px;
      padding-left: 50px;
      margin-bottom: 75px;
    }
    
    .signup.btn {
      margin-top: 50px;
      margin-left: 300px; 
    }
    
    .loginbox input[type="checkbox"] {
      height: 20px;
      margin-left: 200px;
      
    }
    
    .loginbox span {
      font-size: 20px;
        
    }
    
    .log_in_button {
      margin-top: 20px;
      margin-left: 150px;
      font-size: 25px;
    }
    
    .forgot_password {
      margin-top: 5px;
      margin-left: 150px;
    }
    
    .password {
      
      margin-bottom: 5px;
    }
    
    .newuser {
      margin-left: 100px;
      font-style: Arial;
      
    }
    
    .header {
      width: 75%;
    }
    
    .dropdown-menu {
      color:black;
    }
    
    .micropost input[type="text_area"] {
      width: 50px;
    
    }
    
    section .stats {
     width: 200px;  
    }
    
    input#micropost_picture {
      margin-left: 0;
      padding-left: 0;
    }
    
    .container.user_info {
      margin-left: 50px;
      
    }
    
    .img_btn {
      
      width: 100px;
    }
    
    .picture {
      
      
    }
    
    .microposts.col-md-8 {
      margin-right: 50px;
      
    }
    
    .microposts.ol {
      
      margin-right: 10px;
    }
    
    .users {
      margin-bottom: 50px;
    }
    
    .home {
      background: darkred;
      padding: 10px;
      width: 50%;
      margin: auto;
      margin-top: 50px;
      border-radius: 10px;
        a:hover {
          background: darkred;
        }
    }
    
    .home img {
      margin: auto;
      
    }
    
    .home_btn {
      font-size: 25px;  
      margin-bottom: 20px;
      font-weight: bold;
      
         }
         
table  {
  margin-bottom: 150px;
  width: 90%;
}
    
    .alert-warning {
      font-size: 25px;
      margin-top: 150px;
    }
    
.dropdown-menu {
  font-size: 25px;
  width: 170px;
}

.dropdown  {
  
}


.navbar-inverse.navbar-nav.open  a  {
  background: darkred;
}

.alert {
  
  font-size: 25px;
  margin-top: 150px;
  
  
}

.text-form  {
  
  width:  300px;
}


.area {
  
  width: 800px;
}

.avatar {
  img {
  width: 275px;
  margin-top: 10px;
  margin-bottom: 10px;
}
}

.container {
  width: 90%;
  padding-top: 20px;
}

.homily a {
  margin-left: 90px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid;
  background: lightblue;
}


.menu {
  margin-top: 75px;
}

.menu a {
  
  padding: 10px;
  width: 50px;
  font-size: 20px;
  border: 2px solid;
  background: lightblue;
  
}

.posts {
  width: 75%;
}